<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
</head>
<body>
{% block header %}
<h1>This is the base page</h1>
{% endblock %}

<!--<a href="{{ url_for('index') }}">Главная страница</a>-->

{% for m in menu_url %}
<a href="{{ url_for(m.url) }}">{{ m.title }}</a>
{% endfor %}

<a href="{{ url_for('profile', username='sagit')}}">User Sagit</a>

{% block content %}
{% endblock %}

<script>
    document.cookie = 'ex=1;';
    if (!document.cookie) {
        alert('Для этого сайта требуется включить cookies!');
    }
</script>

</body>
</html>