{% extends 'base.html' %}

{% block header %}
<h1>Hello Flask! This is our posts</h1>
{% endblock %}

{% block content %}
{% for p in posts %}

<a class="post-link" href="{{ url_for('post_content', post_id=p.id)}}">
    <div class="post">
        <h3>{{ p.title }}</h3>
        <p>{{ p.content[:30] | striptags }}</p>
    </div>
</a>

<hr>

<div class="items" id="items" style="background-color: #c8b2cb"></div>

<hr>

<input type="number" name="number" id="number" value="1">
<button onclick="sendRequest()">Send AJAX</button>
<hr>
<input type="number" name="number2" id="number2" value="1">
<button onclick="sendRequestPost()">Send POST AJAX</button>
<hr>
<button onmouseover="hoverPost()">MAGIC BUTTON</button>
<script>
    sendRequest = function () {
        $.ajax({
            url: "/ajax",
            data: 'number=' + $('#number').val(),
            success: function (response) {
                console.log(response)
                $('#number').val(response)
            },
            error: function (response) {
                console.log('error: ')
                console.log(response)
            }
        })
    }

    sendRequestPost = function () {
        $.ajax({
            url: "/ajax",
            type: 'POST',
            data: {number: $('#number2').val()},
            success: function (response) {
                console.log(response)
                $('#number2').val(response)
            },
            error: function (response) {
                console.log('error: ')
                console.log(response)
            }
        })
    }

    // $('#number').focusout(sendRequest);
    $('#number').on('change', sendRequest);

    fillItems = function (items) {
        $.map(items, function(val) {
            $('#items').append("<h3>" + val + "</h3>");
            // console.log(val);
        })
        // $('#items').append()
    }

    hoverPost = function () {
        $.ajax({
            url: "/ajax_items",
            type: 'POST',
            data: {},
            success: function (response) {
                console.log(response)
                fillItems(response);
            },
            error: function (response) {
                console.log('error: ')
                console.log(response)
            }
        })
    }
</script>

{% endfor %}
{% endblock %}
