.validation_error {
    color: #911003;
}

.unfilled_error {
    color: #8b5c00;
}

.error {
    margin-top: 20px;
    background-color: rgba(224, 44, 44, 0.29);
}

.success {
    margin-top: 20px;
    background-color: rgba(98, 224, 44, 0.29);
}

.post {

}

.post-link {
    text-decoration: none;
    color: #575757;
}